/* 1. Imports et config de base */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

.bg-carbon {
    background-image: url('https://www.transparenttextures.com/patterns/carbon-fibre.png');
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(10px); }
    100% { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
    animation: fadeIn 0.5s ease-out forwards;
}

